.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Footer {
  padding: 20px;
  background-color: rgba(255, 145, 0, 0.67);
  text-align: center;
}

.Footer p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.Header {
  padding: 20px;
  background-color: rgba(255, 145, 0, 0.67);
  color: #fff;
}

.Header h1 {
  margin: 0;
  font-size: 24px;
}

.modal-content {
  /* this is because we can resize this background so we'll hide it. The coloring will
  now be maintained by the modal-resizable class */
  background-color: transparent;
}

.modal-content > .modal-resizable {
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ebedee;
  border: 0;
  border-radius: .6em;
  box-shadow: 0 0 0 1px rgba(101, 108, 126, 0.5) inset, 0 1px 3px 1px rgba(64, 64, 64, 0.5);
}

.modal-resizable > .modal-body {
  /* This is to account for the height of the footer */
  padding: 1em 1em 5em 1em;
}

.modal-footer {
  /* this is to keep the footer pinned to the bottom when we resize */
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}